:root {
  --theme-blue: #416788;
  --theme-red: #f25759;
  --theme-yellow: #ffcb47;
  --theme-green: #48db5b;
  --border-radius: 8px;
  --box-shadow-color-a: rgb(0 0 0 / 12%);
  --box-shadow-color-b: rgb(0 0 0 / 20%);
  --box-shadow: 0 1px 10px 0 var(--box-shadow-color-a),
    0 2px 4px -1px var(--box-shadow-color-b);
  /* background colors */
  --base-color: white;
  --light-highlight: #eee;
  --mid-highlight: #ddd;
  /* text colors */
  --text-color: black;
  --light-text-color: #999;
  --mid-text-color: #777;
  /* other UI stuff*/
  --button-border: #ddd;
  --card-background: white;
}

html[data-theme="dark"] {
  --box-shadow-color-a: rgb(255 255 255 / 20%);
  --box-shadow-color-b: rgb(255 255 255 / 60%);
  --box-shadow: 0 1px 20px 0 var(--box-shadow-color-a),
    0 2px 8px -1px var(--box-shadow-color-b);
  /* background colors */
  --base-color: black;
  --light-highlight: #333;
  --mid-highlight: #444;
  /* text colors */
  --text-color: white;
  --light-text-color: #bbb;
  --mid-text-color: #ddd;
  /* other UI stuff*/
  --button-border: #444;
  --card-background: #222;
}

html,
body {
  color: var(--text-color);
  background-color: var(--base-color);
  margin: 0;
  font-family: Manrope, sans-serif;
  min-height: 100vh;
}

.title-container {
  width: calc(100% - 20px);
  height: 45px;
  background-color: var(--base-color);
  display: flex;
  align-items: center;
  padding: 10px;
  animation: descend 1s;
  font-size: 20px;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 2;
}

.title {
  position: relative;
  top: -3px;
}

.title h1 {
  margin: 0;
  font-size: 25px;
}

.title span {
  font-weight: 300;
}

.logo {
  height: 40px;
  margin-right: 15px;
  margin-left: 15px;
}

.title:after {
  content: "";
  background-color: red;
  position: absolute;
  width: 74px;
  height: 4px;
  background: none;
  background: linear-gradient(
    90deg,
    var(--theme-blue) 0%,
    var(--theme-blue) 25%,
    var(--theme-red) 25%,
    var(--theme-red) 50%,
    var(--theme-yellow) 50%,
    var(--theme-yellow) 75%,
    var(--theme-green) 75%,
    var(--theme-green) 100%
  );
  bottom: -5px;
  left: 1px;
}

.lead {
  width: 100%;
  overflow: hidden;
  text-align: center;
  animation: descend 0.9s;
}

.lead h1 {
  font-weight: 300;
  margin-top: 100px;
}

.lead img {
  height: 30vw;
  max-height: 50vh;
  margin-left: 50%;
  transform: translateX(-50%);
}

.meter {
  position: absolute;
  width: 100%;
  height: 100% !important;
  padding: 0 !important;
  border: none !important;
  border-radius: var(--border-radius);
  overflow: hidden;
  pointer-events: none;
}

.meter div {
  height: 100%;
  width: 1%;
  background-color: #48db5b22;
  transition: transform 0.5s;
  -webkit-appearance: none;
  appearance: none;
}

.selection-container {
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  margin: 20px auto 5px auto;
  box-shadow: var(--box-shadow);
  max-width: min(1000px, 90vw);
  animation: descend 0.8s;
  display: grid;
  grid-template-columns: 1fr 0px 1fr;
  align-items: center;
  position: relative;
  z-index: 10;
  font-size: 16px;
}

.search {
  font-size: 15px;
  font-family: Manrope, sans-serif;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  height: calc(100% - 20px);
  padding: 10px 20px;
  overflow-wrap: break-word;
  max-width: 100%;
  overflow: hidden;
}

.search:focus {
  border-color: var(--theme-blue);
  outline: none;
}

#from {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  padding-right: 35px;
}

#to {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  padding-left: 35px;
}

[contentEditable="true"]:empty:not(:focus):before {
  content: attr(data-ph);
  color: grey;
  font-style: italic;
  pointer-events: none;
}

[contentEditable="true"]:empty:focus {
  padding-top: 17px;
  padding-bottom: 3px;
}

.selection-container button {
  border-radius: var(--border-radius);
  width: 45px;
  height: 45px;
  z-index: 11;
  position: relative;
  left: -27px;
  display: grid;
  place-items: center;
  margin: 5px;
  border: none;
  background-color: var(--card-background);
  transition: background-color 0.2s;
  cursor: pointer;
  color: var(--text-color);
}

.selection-container button:hover {
  background-color: var(--theme-yellow);
}

.selection-container button:active {
  background-color: var(--theme-green);
}

@media only screen and (max-width: 700px) {
  .selection-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0px 1fr;
  }

  .selection-container button {
    left: 10px;
  }

  .search {
    padding-right: 10px;
    padding-left: 70px !important;
  }

  #from {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  #to {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
  }

  [contentEditable="true"]:empty:focus {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.search-results {
  max-width: min(980px, calc(90vw - 20px));
  margin: 0 auto;
  border: 1px solid var(--mid-highlight);
  border-radius: var(--border-radius);
  overflow: hidden;
  padding: 9px;
  display: none;
  padding-top: 55px;
  position: relative;
  top: -50px;
}

.search-results div {
  cursor: pointer;
  padding: 5px;
  word-break: break-word;
}

.search-results div:hover {
  background-color: var(--light-highlight);
}

.isHighlighted {
  background-color: var(--mid-highlight) !important;
}

.options {
  padding-left: max(calc(5vw + 20px), calc(50vw - 480px));
  opacity: 0;
  animation: fadein 0.5s forwards;
  animation-delay: 1s;
  display: flex;
  align-items: center;
  margin: 0 auto;
  overflow-x: scroll;
}

.dropdowns {
  overflow: visible;
  position: relative;
  z-index: 10;
}

.options::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.options {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.options div {
  margin: 5px;
}

.options button {
  height: 52px;
  border-radius: var(--border-radius);
  border: 1px solid var(--button-border);
  background: var(--base-color);
  color: var(--mid-text-color);
  font-size: inherit;
  font-family: "Manrope";
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.options button:hover,
label:hover {
  background-color: var(--light-highlight);
}

.options button > span {
  transition: transform 0.2s ease;
}

.flip {
  transform: rotate(180deg);
}

.options input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}

.options label {
  cursor: pointer;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--mid-highlight);
  border-radius: var(--border-radius);
  padding-right: 10px;
  margin: 5px;
}

.checkbox-text {
  margin-left: -4px;
  color: var(--mid-text-color);
  transition: color 0.1s;
}

.check {
  height: 50px;
  width: 50px;
}

.check:before {
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid var(--light-text-color);
  border-radius: 3px;
  position: absolute;
  top: 13px;
  left: 13px;
  transition: background-color 0.1s;
}

.options input:checked ~ .check:before {
  background-color: var(--theme-blue);
  border-color: var(--theme-blue);
}

/* add outline when focused */
.options input:focus ~ .checkbox-text {
  text-decoration: underline;
}

/* Create the checkmark (hidden when not checked) */
.check:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.options input:checked ~ .check:after {
  display: block;
}

/* Style the checkmark */
.options .check:after {
  left: 21px;
  top: 17px;
  width: 5px;
  height: 10px;
  border: solid var(--base-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu {
  position: absolute;
  width: 300px;
  background-color: var(--card-background);
  z-index: 10;
  display: none;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  top: 0;
}

.menuIsVisible {
  display: flex;
}

.searching {
  padding: 0 10px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: -50px;
}

.top-buttons {
  position: absolute;
  z-index: 200;
  top: 0;
  right: 0;
  animation: descend 1s ease;
  height: 65px;
  display: flex;
  place-items: center;
  padding-right: 5px;
}

.top-buttons button,
.top-buttons a {
  background-color: var(--base-color);
  border: none;
  border-radius: var(--border-radius);
  height: 50px;
  width: 50px;
  margin-right: 5px;
  padding: 0;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
  display: grid;
  place-items: center;
  text-decoration: none;
  color: var(--mid-text-color);
}

.top-buttons button:hover,
.top-buttons a:hover,
.top-buttons button:focus,
.top-buttons a:focus {
  background-color: var(--theme-blue);
  color: white;
}

#initLoad {
  margin-top: 20px;
}

.loader {
  margin-top: 70px;
}

.loader div {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: red;
  animation: bounce 2s infinite;
  animation-timing-function: cubic-bezier(0.66, 0, 0.33, 1);
  margin: 15px;
  border-radius: var(--border-radius);
}

.loader div:nth-child(1) {
  background: var(--theme-blue);
  animation-delay: 0s;
}

.loader div:nth-child(2) {
  background: var(--theme-red);
  animation-delay: -1s;
}

.loader div:nth-child(3) {
  background: var(--theme-yellow);
  animation-delay: -1.5s;
}

.loader div:nth-child(4) {
  background: var(--theme-green);
  animation-delay: -0.5s;
}

@keyframes bounce {
  0% {
    transform: translateY(50px) rotate(-225deg);
  }

  50% {
    transform: translateY(-50px) rotate(45deg);
  }

  100% {
    transform: translateY(50px) rotate(-45deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes descend {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

@keyframes ascend {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0vh);
  }
}

#results {
  max-width: min(800px, 90vw);
  margin: 0 auto;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.route {
  padding: 10px;
  font-size: 2em;
  animation: fadein 1s;
  border: 1px solid gray;
  margin-bottom: -1px; /* make borders overlap */
  max-height: 50px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0.9, 0, 0.1, 1);
  position: relative;
}

.route:nth-child(2) {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.route:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.route:nth-child(2):last-child {
  border-radius: var(--border-radius);
}

.toggle-all {
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  display: inline;
  align-self: flex-end;
  transition: background-color 0.2s;
  border-radius: var(--border-radius);
  color: var(--mid-text-color);
}

.toggle-all:hover {
  background-color: var(--light-highlight);
}

.route-header {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  height: 50px;
}

.route-header:hover {
  background-color: var(--mid-highlight);
}

.route-header span {
  transition: transform 0.2s;
}

.leg {
  font-size: 0.4em;
  margin: 20px 10px;
  padding: 20px;
  text-align: left;
  background-color: var(--card-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.leg:last-child {
  margin-bottom: 70px;
}

.leg-blurb,
.leg-details,
.walk-details {
  word-break: break-word;
  color: var(--text-mid-color);
}

.leg-blurb {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 10px;
  margin-right: 10px;
}

.leg-blurb img,
.leg-blurb div:nth-child(1) {
  grid-row: span 2;
}

.leg-blurb div:nth-child(2),
.leg-blurb div:nth-child(3) {
  display: flex;
  align-items: end;
  font-weight: bold;
}

.leg-blurb div:nth-child(3) {
  justify-content: flex-end;
}

.leg-blurb div:nth-child(5) {
  text-align: right;
}

.leg-blurb div:nth-child(2):last-child {
  grid-row: span 2;
  align-items: center;
  font-size: 1.2rem;
}

.walk-details {
  font-size: 1.2em;
  text-align: right;
}

.leg-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.leg-summary .material-icons {
  font-size: 40px;
}

.main-text {
  text-align: right;
}

.leg img {
  width: 40px;
  height: 40px;
  margin: 5px;
  filter: drop-shadow(1px 1px 2px #88888888);
}

.leg-code {
  font-size: 3em;
  text-align: right;
}

.leg-code:nth-child(1) {
  text-align: left;
}

.leg-arrow {
  font-size: 3em;
}

.leg-details {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  font-size: 1.2em;
}

.leg-details div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.leg-details div:nth-child(2) {
  text-align: right;
}

.leg p {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}

.multiflight-container {
  margin-top: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

.multiflight {
  display: grid;
  grid-template-columns: auto auto 1fr;
  font-size: 1.1em;
  align-items: center;
  padding: 5px;
  overflow: hidden;
}

.multiflight:first-child {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.multiflight:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.multiflight-provider {
  display: flex;
  flex-direction: column;
}

.multiflight-provider div:first-child {
  font-weight: bold;
}

.multiflight-gate {
  display: grid;
  justify-self: end;
  grid-template-columns: auto auto auto;
  padding-right: 10px;
  grid-column-gap: 5px;
}

.multiflight-gate div:first-child {
  grid-column: span 3;
  text-align: right;
  font-weight: bold;
}

.no-shadow {
  box-shadow: none;
  background-color: var(--base-color);
}

.route button {
  height: 50px;
  width: calc(100% - 20px);
  background-color: var(--mid-highlight);
  border-radius: var(--border-radius);
  cursor: pointer;
  font-family: "Manrope";
  font-size: 1rem;
  border: none;
  transition: background-color 0.2s;
  margin: 0 auto;
  display: block;
  margin: 10px;
  margin-top: 40px;
  color: var(--text-color);
}

.route button:hover {
  background-color: var(--theme-green);
}

.route button:active {
  background-color: var(--theme-yellow);
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 100;
  background: var(--base-color);
  display: grid;
  display: none;
  grid-template-rows: 65px 1fr 20vh auto;
  animation: ascend 1s;
}

.nav-container::before {
  content: "";
  position: absolute;
  z-index: 2;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  top: 65px;
  right: 0;
  left: 0;
  height: 10px;
  pointer-events: none;
}

.exit-nav,
.close-settings {
  width: 50px;
  height: 50px;
  padding: 0;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-color);
  color: var(--mid-text-color);
  border-radius: var(--border-radius);
  cursor: pointer;
  border: none;
}

.exit-nav:hover,
.exit-nav:focus {
  background-color: var(--theme-blue);
  color: white;
  transition: color 0.2s, background-color 0.2s;
}

.nav-container .title-container {
  animation: none;
}

iframe {
  width: calc(100% + 250px);
  height: calc(100% + 250px);
  position: relative;
  top: -125px;
  left: -125px;
  pointer-events: none;
}

.iframeContainer {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.iframeContainer:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 10px inset black;
  content: "";
}

.nav-summary {
  position: relative;
  overflow: auto;
  padding: 20px 0;
}

.playerhead {
  position: absolute;
  z-index: 101;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  box-shadow: var(--box-shadow);
  transition: top 5s linear;
}

.playerhead img {
  width: 100%;
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}

.nav-summary-item {
  margin-left: 90px;
  position: relative;
  height: 60px;
  display: flex;
  place-items: center;
}

.nav-summary-item span {
  font-weight: 600;
}

.nav-summary-item:after {
  content: "";
  position: absolute;
  left: -57px;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: var(--base-color);
  border: 2px solid var(--mid-text-color);
}

.nav-summary-item:not(:last-child):before {
  content: "";
  position: absolute;
  left: -46px;
  top: 30px;
  width: 2px;
  height: 50px;
  background-color: var(--mid-text-color);
}

.nav-instruction {
  font-size: 10px;
  margin: 0px 10px 10px 10px !important;
}

.nav-instruction.leg {
  max-height: 40vh;
  overflow: scroll;
}

@media only screen and (min-width: 600px) {
  .nav-container {
    grid-template-rows: 65px 1fr auto;
    grid-template-columns: min(500px, 50vw) 1fr;
    grid-template-areas:
      "header header"
      "summary map"
      "upnext map";
  }
  .nav-container .title-container {
    grid-area: header;
  }
  .iframeContainer {
    grid-area: map;
  }
}

.settings-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000088;
  z-index: 201;
  display: grid;
  place-items: center;
  display: none;
}

.settings {
  background-color: var(--base-color);
  border-radius: var(--border-radius);
  min-width: min(500px, 90vw);
  min-height: min(500px, 90vh);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

.close-settings {
  align-self: flex-end;
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.settings-hint {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  font-size: 0.8rem;
  color: var(--light-text-color);
}

.settings input {
  font-size: 1rem;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px solid gray;
  background-color: var(--base-color);
  color: var(--text-color);
  font-family: Manrope;
}

.settings-theme {
  display: flex;
  margin-top: 20px;
  padding: 10px;
}

.settings-theme p {
  margin-right: 20px;
}

.settings-theme button {
  padding: 10px;
  border: 1px solid gray;
  background-color: var(--base-color);
  color: var(--text-color);
  cursor: pointer;
  font-family: Manrope;
  font-size: 1rem;
  margin-left: -1px;
  transition: background-color 0.2s;
}

.settings-active {
  background-color: var(--theme-blue) !important;
  color: white !important;
}

.settings-active:hover,
.settings-active:focus {
  background-color: var(--theme-green) !important;
  color: black !important;
}

.settings-theme button:hover,
.settings-theme button:focus {
  background-color: var(--light-highlight);
}

#system {
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}

#light {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}
