html, body {
  margin: 0;
  font-family: Rubik, sans-serif;
}

:root {
  --light-mint: #A0EEC0;
  --mint: #8AE9C1;
  --main: #86CD82;
  --forest: #72A276;
  --dim-gray: #666B6A;
}


.title-container {
  width: 100%;
  height: 250px;
  padding-bottom: 50px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  animation: descend 1s;
}

.selection-container {
  margin: 50px auto;
  margin-top: -20px;
  background-color: white;
  border-radius: 10px;
  height: 66px;
  box-shadow: 2px 3px 5px #ccc;
  max-width: min(1000px, 90vw);
  animation: descend 1s;
}

#selection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  padding-top: 19px;
}

.select2-container, .select2-selection--single {
  outline: none;
  background-color: none;
  border: none !important;
  height: 40px !important;
}

.select2-selection__clear {
  position: relative;
  top: 3px;
  right: 5px;
  color: #888
}

.select2-dropdown--below {
  border-top: 1px solid #aaa !important;
  border-radius: 4px !important;
}

.select2-search__field {
  font-size: 1.1em;
  font-family: Rubik, sans-serif;
}

@media only screen and (max-width: 600px) {
  #selection {
    grid-template-columns: 1fr;
  }

  #results {
    grid-template-columns: 1fr !important;
  }

  .selection-container {
    height: 112px;
    margin-top: -40px;
  }
}

.searching {
  padding: 0 10px;
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-bottom: -50px;
  overflow: hidden;
}

#initLoad {
  margin-top: 20px;
}

.spinner {
  margin-top: 30px;
  width: 100px;
  height: 100px;
  /*position: fixed;
  top: 60vh;*/
  border: 20px solid;
  border-radius: 9999px;
  border-left-color: #00FF21;
  border-right-color: red;
  border-bottom-color: yellow;
  border-top-color: blue;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes fadein {
    from { opacity: 0; d}
    to   { opacity: 1; }
}

@keyframes descend {
  from {transform: translateY(-100vh);}
  to {transform: translateY(0vh);}
}

#results {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
  grid-gap: 30px;
  max-width: min(1000px, 90vw);
  margin: 0 auto;
  margin-bottom: 50px;
}

.route {
  padding: 10px;
  text-align: center;
  background-color: whitesmoke;
  border-radius: 10px;
  font-size: 2em;
  animation: fadein 1s;
}

.leg {
  border-top: 1px solid #ccc;
  font-size: 0.4em;
  margin: 10px 0px;
  margin-top: 20px;
  padding: 10px;
  text-align: left;
}

.leg-blurb, .leg-details {
  color: #888
}

.leg-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.leg-code {
  font-size: 3em;
  width: 2.7em;
}

.leg-arrow {
  font-size: 2em
}

.leg-details {
  margin-top: 10px;
  margin-bottom: -10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.leg-details div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
}

.leg-details div:nth-child(2) {
  text-align: right;
}
